{{>header}}

<table role="presentation" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 20px auto; background-color: #ffffff; border: 1px solid #e2e8f0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
  <tr>
    <td style="padding: 40px; font-size: 16px; color: #2d3748;">
      <h2 style="margin: 0;">Reset Your Password</h2>
      <p style="margin-top: 10px; line-height: 1.6;">Dear, {{name}}.</p>
      <p style="margin-top: 10px; line-height: 1.6;">We received a request to reset your password for your account. If you didn’t make this request, you can safely ignore this email.</p>
      <p style="margin-top: 10px; line-height: 1.6;">To reset your password, click the url below:</p>
      <p style="margin-top: 20px;">
        <a href="{{url}}?code={{code}}" target="_blank" class="button" style="text-decoration: none; display: inline-block; padding: 10px 20px; background-color: #3182ce; color: #ffffff; border-radius: 5px; text-align: center;">
          Reset Password
        </a>
      </p>
      <p style="margin-top: 10px; line-height: 1.6;">And put this code for verification</p>
      <p style="margin-top: 10px; line-height: 1.6;"><span style="font-weight: bold">CODE:</span> {{code}}</p>
      <p style="margin-top: 20px; line-height: 1.6;">This url will expire in 24 hours. If you need further assistance, feel free to reach out to our support team.</p>
      <p style="margin-top: 10px; line-height: 1.6;">If the button is not working, please copy and paste this URL into your browser: <a href="{{url}}?code={{code}}" target="_blank">{{url}}?code={{code}}</a></p>
      <p style="margin-top: 20px; line-height: 1.6;">Best Regards,</p>
      <p>Pointhub</p>
    </td>
  </tr>
</table>

{{>footer}}